<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3>Contacts</h3>
      </div>
      <div class="col text-right">
        <a class="btn btn-success btn-sm mt-1" href="#" role="button">New Contact</a>
      </div>
    </div>
  </div>

  <div class="card-block">
    <div class="row align-items-center pt-3 pb-3 m-3 border rounded" *ngFor="let contact of contacts">
      <div class="col-9">
        <h5>{{ contact.name }}</h5>
      </div>
      <div class="col-3 text-right">
        <img class="contact-image img-responsive" src="{{ contact.imageUrl }}" alt="{{ contact.name }}'s picture">
      </div>
    </div>
  </div>
</div>
