.contact-image {
  max-height: 50px;
}

.unstyled-link {
  background-color: #ffffff;
  color: inherit;
  text-decoration: inherit;
  transition: background-color 0.125s ease-in;
}

.unstyled-link:hover, .unstyled-link:active, .unstyled-link:focus {
  background-color: #f8f9fa;
}

.unstyled-link h5 {
  padding-left: 0;
  transition: padding-left 0.125s ease-in;
}

.unstyled-link:active h5, .unstyled-link:focus h5 {
  padding-left: 0.5rem;
}
