.ng-invalid {
  border: 1px solid red;
}

.groupDiv {
  min-height: 6rem;
  border: solid thin lightgrey;
}

.dragMsg {
  font-size: 1.25rem;
  color: darkgrey;
  margin-left: 3rem;
  text-align: center;
}

#groupList {
  width: 80%;
}

.delete-button {
  float: right;
  left: 4em;
  position: relative;
  top: -5em;
  margin-bottom: -5em;
}
